 body {
    background-color: rgb(26, 26, 26);
    width: 100%;
 }

 
 

.cards .container .card {
    width: 300px;
    height: 250px;
}
.cards .container .card:hover {
    transform: scale(1.04);
    transition-duration: 0.3s;
}
.cards .container .card p{
    font-size: 16px;
}

.cards .container .card img {
    width: 100%;
    height: 150px;
}  
.cards .container .card a {
    text-decoration: none;
    color: aqua;
    font-weight: 600;
}
.cards .container .card a:hover {
    color: rgb(13, 110, 110);
    transition-duration: 0.3s;
}
.cards .container .body-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
 