.Section4 {
    height: 44vh;
    text-align: center;
    background-color: white;
    margin-top: 7vh;
}
h2 {
    padding-top: 8vh;
    padding-bottom: 9vh;
    color: black; 
    font-weight: bold;
}
.boxs-3 {
    padding-bottom: 8vh;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   line-height: 3vh;
}

 h4 {
    color: black;
    font-size: 2vh;
}
.boxs-3 p {
    color: gray;
    font-size: 1.5vh;
}
i {
    color: #9fdef7;
    font-size: 6vh;
    padding-bottom: 2vh;
}
.b-two i {
    color: #e39595;
}