.Nav {
     
    height: 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
   
}
.leftSide h1 {
    color: rgb(16, 198, 230);
}
.rightSide ul {
    list-style: none;
    display: flex;
    gap: 10px;
}
.rightSide ul li {
    display: inline-block;
    /* padding: 25px; */
    color: rgb(16, 198, 230);
    font-size: 20px;
    font-size: 14px;
}